<% if user_signed_in? %>
  <h1>Top#index</h1>
  <p>Find me in app/views/top/index.html.erb</p>
  <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link', data: { confirm: "ログアウトしますか?" } %></p>
  <a href="https://lin.ee/VOiP5bT"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
